* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    padding-top: 20px;
}

body {
    display: flex;
    flex-direction: row;
}

.top-bar {
    flex: 1;
    padding: 16px;
    background-color: #F6F7F8;
    box-shadow: inset ;
    padding: 80px;
}
.middle-bar {
    flex: 1;
    padding: 16px;
    background-color: #ffffff;    
}
.bottom-bar {
    flex: 1;
    padding: 25px;
    background-color: #F6F7F8;   
    margin-top: 100px;
}

input[type] {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  input:focus
  {
     outline: none;
  } 
  input[type="password"]:focus{
    outline: 2px solid #ea0918;
  }
  .main-div {
    width: 100%; /* Set full-width to expand the whole page */
    height: 100%;Log in
  }
  label {
    display:block;
}

.odin-sidebar{
    font-family: norseFont;
    height: 100vh;
    width: 54vw;
}
.leafPic{
    position: absolute;
    height: 100vh;
    width: 35vw;
    z-index: 1;
}
.container {
    display: flex;
    position: relative;
    top: 25%;
    z-index: 2;
    width: 100%;
    height: 8rem;
    justify-content: center;
    padding: 5%;
    background: rgba(8, 8, 8, 0.5);
}
.odin-logo {
    width: 4rem;
    height: 6rem;
    
}
h1 {
    color: white;
    font-size: 80px;
}
p{
    font-weight: bold;
    padding-top: 20px;
}
button{
    background-color: #596D48;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 0 20px;
    font-size: 1rem;
    line-height: 2.5;
}
.column {
    float: left;
    width: 40%;
}
@font-face {
    font-family: norseFont;
    src: url(Norse-Bold.otf);
}
span{
    color: #596D48;
    font:bold;
}
